<!doctype html>

<br/>

<head>
<h1>Welcome to Fortune Cookies!</h1>
</head>
<br/>


<p1>We are an application dedicated to help motivate you throughout the day!</p1>
<br/>
<br/>
<p2>Please enter your phone number for verification! After you are verified, we will register you into our <br/>
    system to recieve motivational quotes/phrase/sayings through text messages!</p2> 
<p3><font size="1">*standard text messaging rates may apply</font></p3>
<br/>
<br/>
<p4>Please enter a number *do not include any special characters</p4>
<form action="verify.html">
  Phone Number:<br>
  <input type="text" name="Phone Number" value="+1">
  <br>
  <input type="submit" value="Send">
</form> 

</html>
