<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    
<head>
    <style>
        body{
            background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/A7cn0zH/chinese-fortune-cookie_nkidgh0f__F0002.png);
            background-size: 1536px 900px;
            background-repeat: repeat-y;
            background-attachment: fixed;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body style="background-color:DodgerBlue;">

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><p> <center> <font size="7"> You're set up!</font></p>

</body>
</html>
