<!DOCTYPE html>

<html>

<head>
<style>
body{
    background-image: url(https://media.playstation.com/is/image/SCEA/2-step-verification-step2-three-column-02-us-20jul16?$image_block_mobile$);
    background-size: 600, 800;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


</style>

</head>
  
<p>Please enter the verification code sent to you!</p>
<!--<form action="settings.html">-->
<!--  Verification Code:<br>-->
<!--  <input type="text" name="Verification Code">-->
<!--  <br>-->
<!--  <input type="submit" value="Send">-->
<!--</form> -->

<form method="POST" action = "/settings">
    <div class="form-group">
        <input type="text" name="code"> 
    </div>
    <input class = "btn btn-primary" type= "submit" value="submit">
</form>

</html>


